[2017-02-27 10:22] TimHenkelmann opened #2 "Define vocabulary"
Define a vocabulary of entities based on data from structured sources. The vocabulary will be used and updated by Team 2, so this issue should be completed rather early.

[2017-02-27 10:44] TimHenkelmann opened #3 "Set up database"
Set up and populate a database for storing entities and their sources (possibly using CouchDB so that it has a native API querying mechanism, or using Neo4J for out-of-the-box graph visualization capabilities)

[2017-02-28 18:29] kordianbruck commented on #2
Maybe you can make use of the other team's mockup somehow?
https://github.com/MusicConnectionMachine/VisualizationG5/pull/7/files

[2017-03-01 14:34] ShilpaGhanashyamGore opened #4 "Script to crawl MusicBrainz"
Try to find if ready scripts to crawl MusicBrainz are available .If not we make one

[2017-03-01 14:34] TimHenkelmann opened #5 "Script to crawl IMSLP"
Crawl IMSLP: http://imslp.org

[2017-03-01 14:36] ShilpaGhanashyamGore opened #6 "Script to crawl DBPedia"
Understand how the data from DBPedia can be crawled .Use ready scripts if available .Else make a script

[2017-03-03 08:04] Henni commented on #3
Summoning @MusicConnectionMachine/group-2 @MusicConnectionMachine/group-3 @MusicConnectionMachine/group-4 to this discussion.
I think we should get a decision for this soon!

I'd vote to go with Neo4j as it is a relationship oriented database which perfectly fits our use-case in my opinion.
I would love to see information like the [Bacon number](https://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_B

[2017-03-03 08:45] metavaults commented on #3
As far as I'm concerned, Neo4j doesn't support JSON. However, the majority of our structured data is scraped in JSON format. If we go with Neo4j, we will have difficulties importing our data into the database.
My suggestion is MongoDB. NodeJS and MongoDB are 2 powers of web development right now. We could easily import our data and it's highly scalable. In addition to this, group 5 and 6 could eas

[2017-03-03 09:52] Henni commented on #3
In my opinion MongoDB has real difficulties with modelling relationships. As we want to build a social graph in this project it would make sense to also use a graph database.
Regarding JSON: The data which will be imported into the database has to be parsed, so it shouldn't add a lot of complexity to store that in a different format than JSON. The data shouldn't be just copied into the database an

[2017-03-03 10:03] ansjin commented on #3
In my opinion also MongoDb doesn't work well for storing relationship data.
You can check this link for details:
http://www.sarahmei.com/blog/2013/11/11/why-you-should-never-use-mongodb/

[2017-03-03 10:21] sacdallago commented on #3
Well, mongo **is not** a relational database system, thus per definition it won't manage relations well ( I mean, they are completely absent, there are no join operators, etc.). Neo4j is great for this use case, but then again: every database, to some extend, resembles a graph ( think about it :) ).

Nevertheless, I believe mongo can manage this type of data, better than neo4j due to the final `si

[2017-03-03 10:29] Henni commented on #3
~~@sacdallago a problem I see with RDMS is that it might be not flexible enough for us. Adding additional relationships might be easier in a NoSQL database.~~
EDIT: ok, nevermind... just talked with @ansjin about this :wink:

[2017-03-03 10:33] sacdallago commented on #3
I understand that point, and it's a very valid one @TimHenkelmann . Still, weighing everything, I think that would be a better fit. If you are **strongly** against it, gimme some hardcore reason :)

[2017-03-03 10:34] vviro commented on #3
I agree with @ansjin and @Henni, it seems that MongoDB is not a great fit for the project (http://developer.olery.com/blog/goodbye-mongodb-hello-postgresql/, https://www.linkedin.com/pulse/mongodb-frankenstein-monster-nosql-databases-john-de-goes).

We should consider the amount of data we are going to be dealing with (especially coming from the unstructured sources). How many entities and relatio

[2017-03-03 10:39] vviro commented on #3
@Henni can you expand upon this a bit? For example, which case could be problematic? Are you thinking of relationships between multiple entities (>2) that would be difficult to map to a relation of the type (relatishipTypeX, entityA, entityB), or maybe something else?

[2017-03-03 10:53] ShilpaGhanashyamGore commented on #3
Also to consider is the proportion to which the relationships balloon. In the context of a social network ,the number of relationships that an entity is involved is way too many for a RDBMS to handle at the risk of not being the slowest element in the ecosystem . However , in the context of extracting relationships with confined scope as in Classical Music,  RDBMS (PostgreSQL ) will be able to han

[2017-03-03 12:14] pfent commented on #3
+1 for postgres.
Their [JSON](https://www.postgresql.org/docs/9.6/static/datatype-json.html) and NoSQL-like capabilities are really amazing in the latest versions

[2017-03-03 12:30] kordianbruck commented on #3
You can also run both in parallel. Have the relations mapped in the proper DB that can easily give you what you require and then fetch the data from Mongo or Postgres.

Another team is also setting up elastic in parallel to mongo. Using docker this should be little hassle to maintain.

[2017-03-04 10:16] sacdallago commented on #3
@kordianbruck I can feel the pain of deploying this ahah Nevertheless, he is totally right. If you want to have flexibility at the level of the entities but strict relationship structure, mixing an RMSDB and a document-based DB _might_ be a good solution.

Nevertheless it will introduce some redundancy and if badly implemented can cause great pain. Also, it's only _eventually consistent_ because y

[2017-03-04 11:02] ShilpaGhanashyamGore commented on #6
@vviro :Python scripts given for DBPedia(in rostlab wikipage)  is basically for annotating a given text using the DBPedia ID.It employs 3 techniques DPBedia Spotlight and 2 others to perform the initial annotation.And then  it homogenizes the output from 3 tools before publishing the results . I dont understand how does it serve our purpose ?Please correct me if I am missing something.

[2017-03-04 13:55] kordianbruck commented on #3
One can always say, that Postgres is the current view. Any other database might contain old/invalid data and needs to be verified before its send to the user. Yes its a huge pain, but might pay off if the features are so much better in other systems.

[2017-03-05 08:33] sacdallago commented on #3
@kordianbruck that doesn't sound like a good solution to me. It impacts perfromance with filtering steps (maybe not huge impact, but scale it and you have a problem) and in the long run you might end up having huge inconsistencies and huge databases with a number of invalid data which is a pain to clean out :)

My final take is: Postgres with **as many fixed fields as possible put in columns** and

[2017-03-07 11:53] pfent opened #7 "Start coding and document your work"
Hey @angelinrashmi2000, @LukasNavickas, @ShilpaGhanashyamGore, @TimHenkelmann !

Seems you haven't had any source code activity and we're already a week in…
Do you need help getting started? Are you stuck somewhere?

Don't hesitate to ask one of us tutors!

You've already opened some starter issues, but there hasn't been progress towards them. Maybe start with smaller issues to get started?

Next

[2017-03-07 11:55] simonzachau opened #8 "Model"
@MusicConnectionMachine/group-1 & @MusicConnectionMachine/group-2

Have you thought about how the data model of the entities is going to look like? We would like to build on it for our relationship algorithms in the near future.

[2017-03-07 14:26] Henni commented on #8
This was posted a while back on gitter: https://imgur.com/a/2gRzu

[2017-03-07 14:48] simonzachau commented on #8
@Henni: what in this image is coming from Project A? Some parts look more like relationships than entities, which is our job. E.g. wife, children, students are likely going to not be filled by A because it's a relation? It'd be nice to have an official documentation of what we get, then we add the relationships on top of it.

[2017-03-07 15:10] Henni commented on #8
I would be surprised if team1 wouldn't find any relationships. And of course they should store them instead of just dropping them. There is no point in doing this twice.
Also team3&4 mostly concentrate on relationship extraction from text. Team1 has structured data like this: http://imslp.org/wiki/List_of_works_by_Wolfgang_Amadeus_Mozart
Relationship extraction won't be able to detect these connec

[2017-03-07 19:20] sacdallago commented on #7
I know you guys are working, but it's time to get dirty ![](http://wdy.h-cdn.co/assets/15/50/1449680380-gallery-1445006641-gallery-1444850922-dirty-dancing-index.jpg)

**Whoever gets the reference wins everything!**

[2017-03-09 09:08] metavaults commented on #4
Script is done.

[2017-03-09 09:08] #4 closed

[2017-03-09 09:18] metavaults commented on #8
@MusicConnectionMachine/group-3 and @MusicConnectionMachine/group-4
How do you expect the data from us to be?

@MusicConnectionMachine/group-2 guys, how do you expect the vocabulary we provide should look like?

[2017-03-09 12:56] sacdallago commented on #4
When something is done in a commit, commit putting as last part of the commit message:

`blablabla closes #4`, where `#4` is the issue that is being closed. If that commit makes it into develop (aka, after the PR has been approved), the issue will close automatically. [more](https://help.github.com/articles/closing-issues-via-commit-messages/)

[2017-03-09 14:07] nyxathid opened #13 "Interface to group 2"
Hey group 1!
Group 2 would like to know how to get data from the structured sources that you process.

*Currently* we are interested in the *vocabulary* (terms relevant to classical music) that we should use to scan the unstructured sources.

*Later* we would like to now how both our groups are going to combine the data and direct it to groups 3 & 4.

[2017-03-09 17:15] ShilpaGhanashyamGore commented on #13
@nyxathid
1.We are implementing a PostGreSql db .We can return json objects for your queries.
2.It will be great if you can give us some example queries .
3.We are going to create the database and populating it with the data we collect.You will be importing the data extracted from unstructured sources into the database .

[2017-03-10 09:19] simonzachau commented on #8
@LukasNavickas I think you are going to extract entities and maybe you are going to find additional attributes for those entities, which you are going to save, too, instead of dropping it (like @Henni suggested). Our job is to find relationships in texts, that occasionally overlaps the mentioned attributes. So it's good for us to know the model, but for now we have no exact expectations ;-).

[2017-03-10 17:26] nbasargin commented on #13
2. Group 2 needs a list of all relevant terms (like names of composers, bands, music genres, recordings, ...)
It would be nice to get a JSON like:
[code]

3. Do you already have some general database structure? What kind of data can we provide you?

[2017-03-10 23:20] angelinrashmi2000 commented on #13
Hey Group 2
We have attached the list of keywords for artist entity that we have extracted from 3 sources
1.Dbpedia
2.MusicBrainz
3.Allmusic
The output JSON file for these databases are in different format. We have included a Readme file in each folder describing the source and the format. Let us know if you have any more questions.
[Data for Team 2.zip](https://github.com/MusicConnectionMachine/S

[2017-03-11 09:44] gyachdav commented on #13
Hello group 1.  As a rule of thumb you should handle any data exchange by providing an API to access your data. This is the dynamic universally and continuously available way for you to share data (even if seemingly this is a one time transaction)

[2017-03-12 15:04] ShilpaGhanashyamGore commented on #13
@gyachdav  : Thank you for the feedback !
Yes , we will provide a REST API for  Group 2 (deals with unstructured  data ) with GET,UPDATE and POST APIs so that they can use the keywords for searching and add to list when they find new words .
Work is in progress , I will share the APIs once it is done .
API will return the details of a composer /artist in the following fashion
[code]
@nyxathid

[2017-03-12 23:23] pfent commented on #13
@ShilpaGhanashyamGore you should use a json checker / formatter like https://jsonformatter.curiousconcept.com/

Also, can you please put code in code blocks, like described here: https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2017-03-13 09:50] sacdallago commented on #7
@angelinrashmi2000 @LukasNavickas I don't see too much progress from your side. What are you working on?

[2017-03-13 09:59] sacdallago commented on #7
@MusicConnectionMachine/group-1 you need to be a bit more reactive and post updates here or in your branches. There are far too little issues and I see far too little communication with other groups. I see most people contributed code, if at all, once last week. This is not enough. If a PR is open and there is no activity from a group member, you can pick up that work and do it instead (e.g.: #10

[2017-03-13 10:00] metavaults commented on #7
I wrote and run 4 more scripts for Musicbrainz, was working on the final presentation a lot. Angelin was dealing with SQL server. We work really hard!

[2017-03-13 10:04] LukasNavickas opened #16 "Edit your part of presentation"
I have sent you the presentation of the theorerical part, please take a look at it, edit if needed and sens me back (today evening at latest!)

[2017-03-13 10:05] LukasNavickas opened #17 "Prepare the slides for the live coding part"
Do we need any or we are just going to show how we code?

[2017-03-13 10:06] ShilpaGhanashyamGore commented on #16
I am working on the Interface to Group 2 issue .I can send in comments latest by 14-Mar EOD.

[2017-03-13 10:08] ShilpaGhanashyamGore opened #18 "Scripts to populate PostGreSql from Json files containing extracted data"

[2017-03-13 10:15] angelinrashmi2000 commented on #18
Shilpa I am already working on it

[2017-03-13 10:21] ShilpaGhanashyamGore commented on #18
Oh did not know that .
I have created a "entities" table in postgres db .We will expose API for this DB to group 2 .
Please populate that table .

[2017-03-13 10:23] angelinrashmi2000 commented on #18
OK I will populate the entity table using the script

[2017-03-13 10:51] ShilpaGhanashyamGore commented on #13
@nyxathid : Here is the list of RestAPIs that we shall support :
[REST_END_Points_for group2.xlsx](https://github.com/MusicConnectionMachine/StructuredData/files/837947/REST_END_Points_for.group2.xlsx)

[2017-03-13 11:24] ShilpaGhanashyamGore commented on #13
@pfent nt : Can you provide me with an example of code fencing in nodejs ?I applied ``` but node says
TypeError: "" is not a function.I scouted the internet for examples did not find any.
Exam of my code :
[code]

[2017-03-13 12:00] kordianbruck commented on #13
@ShilpaGhanashyamGore ``` is not for nodejs, but for posting code here in Github (what @pfent said previously)

Or what exactly you mean by "code fencing"?

[2017-03-13 12:19] kordianbruck commented on #16
Please use Gitter / other channels for such communications regarding presentations. Issues are project related things only please.
https://github.com/MusicConnectionMachine/StructuredData/issues/16#issuecomment-286091570

[2017-03-13 12:19] #16 closed

[2017-03-13 12:19] kordianbruck commented on #17
https://github.com/MusicConnectionMachine/StructuredData/issues/16#issuecomment-286091570

[2017-03-13 12:19] #17 closed

[2017-03-13 12:21] kordianbruck commented on #18
@angelinrashmi2000 thats why you should add a [WIP] (work in progress) pull request or reference this issue from the commit or even assign it the issue when you start working.

[2017-03-13 12:24] kordianbruck commented on #7
@LukasNavickas thats great! Please speed it up as presentations are next week already and we should have the api ready before that! The other teams are waiting for you to have some progress: merge the pull requests, set the APIs to access it online and add a documentation for the REST api.

[2017-03-13 13:40] ShilpaGhanashyamGore commented on #13
No I mean to ask if it was a node js feature because I got compilation errors . Thanks for clearing it for me !

[2017-03-13 13:41] ShilpaGhanashyamGore commented on #13
[REST_END_Points_for group2.xlsx](https://github.com/MusicConnectionMachine/StructuredData/files/838326/REST_END_Points_for.group2.xlsx)
@nyxathid :updated REST endpoint description.Please feel free to ask us questions if any .
@TimHenkelmann and myself can answer them for you .

[2017-03-13 13:49] ShilpaGhanashyamGore commented on #7
From wiki :Submit a 5 pages long report (one per group) describing solutions to your topic (4 pages) and the project (1 page). Due: 2 weeks after the seminar.
For the document part , do we have to follow standard template like ACM or is there some template which you can share with us .

[2017-03-13 17:29] nbasargin commented on #13
@ShilpaGhanashyamGore Thanks!

[2017-03-14 11:36] TimHenkelmann commented on #7
@sacdallago @kordianbruck Do you want to have a look at our "approved" pull requests ( #19 , #20 , #21 , #22 ) before we merge them?

[2017-03-14 12:45] pfent commented on #7
@TimHenkelmann It's your code, so you are free to merge them, if you feel like the PRs are ok.

However, if you want us to review your code, we can still do so

[2017-03-14 12:53] TimHenkelmann commented on #7
@pfent Okay, then we will merge the files where we are quite certain that they are correct. And if we are unsure about some, we would then ask for your feedback. Thanks!

[2017-03-14 21:39] kordianbruck commented on #7
Guess we can close this issue then.

[2017-03-14 21:39] #7 closed

[2017-03-14 21:49] kordianbruck opened #25 "Server hosting"
Initial hosting of the PostgreDB + NodeJS Server

[2017-03-14 21:50] kordianbruck commented on #25
@sacdallago can we give the students access to azure or a different server to get a "testing site" going?

[2017-03-14 22:11] angelinrashmi2000 opened #26 "Table Setup in Postgresql"
Define fields, key, constraints for all the entities and create the table.

[2017-03-14 22:13] kordianbruck commented on #26
Please consider using an ORM: http://docs.sequelizejs.com/en/v3/

There will be a lot more to save, so using a ORM will save you a lot of time in the future!

[2017-03-15 08:43] ShilpaGhanashyamGore commented on #26
Tim and I have created a schema (in PGAdmin 4) we have some open points . We can discuss this and create the schema today in VM

[2017-03-15 09:06] ShilpaGhanashyamGore opened #29 "Allmusic: additional data source"
@vviro @sacdallago @kordianbruck @pfent
We found a new data source for classical composers  :http://www.allmusic.com/genre/classical-ma0000002521/artists .This source has elaborate information about many classical composers .
We have a working script to crawl this source .
However there  are 2 main challenges :
1.Data of Birth , Place of birth are in the of text unlike other sources
2. HTML of mai

[2017-03-15 09:16] ShilpaGhanashyamGore opened #30 "Interface to Group3/4"
@Henni @simonzachau  @kordianbruck @sacdallago @vviro @pfent

We want to know what are the kinds of queries we should expect from your module .
We can then created prepared statements to help queries return results faster .
If you can give us some sample queries then we can start preparing them already .
This greatly influences the design of our schema : the foreign keys and many more.

[2017-03-15 09:16] pfent commented on #29
So that source doesn't offer structured data through an API?

Then it's probably better suited as a source for group 1...

[2017-03-15 09:26] sacdallago commented on #25
@kordianbruck they have an azure VM already up and working for their testing purposes.

You guys should set up a docker-compose file detailing which images are needed to run the scripts? Eg. Postgres, node.

I think you need to write two `Dockerfile`s, one for the API, one for Postgres (that automatically loads the table definitions and maybe an .sql data dump that is stored somewhere /not in the

[2017-03-15 09:27] sacdallago commented on #29
@pfent you mean @MusicConnectionMachine/group-2 ?

[2017-03-15 09:28] sacdallago commented on #30
@MusicConnectionMachine/group-3 @MusicConnectionMachine/group-4 I think there is an open discussion somewhere about something similar? Makes sense to have @MusicConnectionMachine/group-2 here as well, since ideally you will all (group1/group2) serve the data in the same way and through the same api? Hopefully?

[2017-03-15 09:56] Sandr0x00 commented on #30
Do we get an API? I thought we have to get the data directly from the DB?
[Reference](https://github.com/MusicConnectionMachine/RelationshipsG4/blob/develop/documents/Architecture%20Overview.png) from our group.
[Reference](https://github.com/MusicConnectionMachine/RelationshipsG3/issues/10) from @MusicConnectionMachine/group-3.  (Like I understand it, group 3 also plans to fetch the data directly

[2017-03-15 10:01] ShilpaGhanashyamGore commented on #30
Renaming the issue to "Interface to Group 3/4"

[2017-03-15 11:10] Sandr0x00 commented on #30
[Reference](https://github.com/MusicConnectionMachine/UnstructuredData/issues/50) to a similar topic.

[2017-03-15 11:25] simonzachau commented on #30
this should be resolved by [the api](https://github.com/MusicConnectionMachine/api/issues/1)

[2017-03-15 16:22] TimHenkelmann opened #31 "Add REST API proposal to google doc"
We need to add our proposal for the REST API (including the entity structure + parameters)
 to the [google doc](https://docs.google.com/document/d/1TjBtrBpeD-v0Q_oqy_b2sM1i8mfR1qLu6cwPUkP8BBk/edit) where the other teams will also collaborate theirs.

[2017-03-15 16:26] TimHenkelmann opened #32 "Setup REST API"
We need to set up a REST API until Friday 12:00. This should be in compliance with the proposals in the [google doc](https://docs.google.com/document/d/1TjBtrBpeD-v0Q_oqy_b2sM1i8mfR1qLu6cwPUkP8BBk/edit)

[2017-03-16 11:56] kordianbruck commented on #25
@sacdallago great!

The machine does not seem to be running / work. One can't ping the IP (Should not depend on closed ports as its ICMP) - is it turned off?

Cont. discussion from https://github.com/MusicConnectionMachine/StructuredData/pull/24#issuecomment-286894952
@ShilpaGhanashyamGore

[2017-03-16 11:59] kordianbruck commented on #32
Are you guys planing on doing a proof on concept in this repo first, or are you directly going to implement it in the API repo?

Looking at #24

[2017-03-16 11:59] kordianbruck commented on #31
Please do this today! @MusicConnectionMachine/group-1

[2017-03-16 15:42] sacdallago commented on #25
@kordianbruck na, na, the machine is up and running, no worries!

https://blogs.msdn.microsoft.com/mast/2014/06/22/use-port-pings-instead-of-icmp-to-test-azure-vm-connectivity/

http://serverfault.com/questions/782140/how-can-i-enable-ping-on-an-azure-linux-vm

[2017-03-17 08:55] kordianbruck opened #35 "Cleaning up messy data"
Vladimir proposed http://openrefine.org/ to clean up messy data (multiple entries for one artist)

[2017-03-20 13:07] TimHenkelmann commented on #26
Closing this issue as this is already implemented via Sequelize in the[api project](https://github.com/MusicConnectionMachine/api)

[2017-03-20 13:07] #26 closed

[2017-03-20 13:09] TimHenkelmann commented on #5
Closing this issue as obsolete. We can get the required IMSLP data from vladimir.

[2017-03-20 13:09] #5 closed

[2017-03-20 13:11] TimHenkelmann commented on #3
Closing this issue as PostgreSQL db was implemented quite some time ago!

[2017-03-20 13:11] #3 closed

[2017-03-20 13:12] TimHenkelmann commented on #6
This is implemented in the pullrequest #14, #15, #23 and others

[2017-03-20 13:12] #6 closed

[2017-03-21 10:00] ShilpaGhanashyamGore commented on #25
@sacdallago : We tried to use psping.exe to test the port .But again request timed out .
Can you please resolve this for us so we test our api on the test machine .
Thank you !

[2017-03-21 10:37] pfent commented on #25
[code]

The machine is definitely up, but rejecting almost everything...

[2017-03-21 15:27] kordianbruck commented on #25
@sacdallago ideas?

[2017-03-21 15:50] #13 closed

[2017-03-21 16:35] TimHenkelmann commented on #32
Closing this issue. It is going to get implemented directly in the API repo

[2017-03-21 16:35] #32 closed

[2017-03-22 10:54] sacdallago commented on #25
Ports 80 and 443 have been opened on the test machine. But this should not be necessary anymore? You should port all of the logic to docker cloud?

Maybe we can talk in person?

[2017-03-27 08:11] TimHenkelmann commented on #31
was done back then

[2017-03-27 08:11] #31 closed

[2017-03-27 19:32] #30 closed

[2017-03-27 19:32] kordianbruck commented on #30
It really is resolved

[2017-03-27 19:35] kordianbruck commented on #25
@ShilpaGhanashyamGore did you resolve this issue? Long time no update...

[2017-03-27 19:38] kordianbruck opened #40 "Sample Data for Groups 5/6"
Maybe I'm missing it, but I can't seem to find it.

You guys need to give them some sample data that they can work with. Thanks!

[2017-03-27 20:15] kordianbruck commented on #29
#34 #36
@ShilpaGhanashyamGore is this done? What is the status?

[2017-03-27 20:16] kordianbruck commented on #18
@angelinrashmi2000 Whats the progress here? Did you complete this? Is this now done in the API project? What are the Pull Requests?

[2017-03-27 20:17] kordianbruck commented on #8
@LukasNavickas whats the update here? Did you implement the models?

[2017-03-27 20:18] kordianbruck commented on #2
@TimHenkelmann we should be done with this task by now. If so, please close and reference any pull request regardings this.

[2017-03-27 20:19] kordianbruck opened #41 "Get your CI running"
So we can deploy automatically. Feel free to copy from any other group and also ask them for tipps.

Checkout https://github.com/MusicConnectionMachine/VisualizationG6/blob/develop/.travis.yml

[2017-03-27 20:20] kordianbruck opened #42 "Integrate docker"
so we can deploy this to an awesome appserver on azure

feel free to copy from https://github.com/MusicConnectionMachine/VisualizationG6/blob/develop/Dockerfile

[2017-03-27 20:23] kordianbruck opened #43 "Get this running on azure - #1 priority"
So guys, we really need this to be deployed so teams 3/4 can start running on larger datasets and use your data.

Here are the tasks/roadmap:

- [x] Get your CI running https://github.com/MusicConnectionMachine/StructuredData/issues/41
- [x] Setup docker for deployment https://github.com/MusicConnectionMachine/StructuredData/issues/42
- [x] Find a way to start a single file to start scraping data

[2017-03-27 20:32] TimHenkelmann commented on #8
@kordianbruck The models have been created in the api project. Should we provide a separate documentation for them?

[2017-03-27 20:35] TimHenkelmann commented on #2
This was already discussed with Team 2 last week. Closed as done!

[2017-03-27 20:35] #2 closed

[2017-03-27 20:41] kordianbruck commented on #8
@TimHenkelmann no, but please make sure all of your code is properly documented!

[2017-03-27 20:59] Gillian0023 commented on #8
@TimHenkelmann  Thanks for your documentation !
MusicConnectionMachine/api#28

[2017-03-27 22:06] ShilpaGhanashyamGore commented on #25
@kordianbruck  @sacdallago  : We are trying to setup the workflow where  in we have the docker tool support in MS Visual Studio which docker image and after the image is pushed into the docker registry we pull the same on the Azure Linux VM and run it in the VM.

But we are having problems at the first step itself. We are unable to integrate docker tools into MS Visual Studio 2017 & 2015 both comm

[2017-03-27 22:06] ShilpaGhanashyamGore commented on #29
Yes done .Closing the issue .

[2017-03-27 22:06] #29 closed

[2017-03-27 22:19] kordianbruck commented on #25
@ShilpaGhanashyamGore yes, don't use those tools but write the configuration files yourself. Take some inspiration from: https://github.com/MusicConnectionMachine/VisualizationG6/blob/develop/Dockerfile

[2017-03-27 23:09] ShilpaGhanashyamGore commented on #25
@kordianbruck :Yes . we have a dockerfile for our app .
[Dockerfile.txt](https://github.com/MusicConnectionMachine/StructuredData/files/874055/Dockerfile.txt)

[2017-03-28 07:46] kordianbruck commented on #25
@ShilpaGhanashyamGore why is this not in the repository? Why are you using Webpack? Whaaat?

[2017-03-28 08:31] ShilpaGhanashyamGore commented on #25
@kordianbruck : Yes webpack is not needed it is for front end .I removed it .
The first image has been pushed into Docker Hub and the Azure Linux VM has been hooked to it.
The app is running but not functional .
https://hub.docker.com/r/musicconnectionmachine/structureddata/tags/
http://structuredmusicdata.azurewebsites.net/
Also , Azure VM directs you to VS 2017 professional free trial for 90 day

[2017-03-28 09:04] sacdallago commented on #25
@ShilpaGhanashyamGore can you come this Friday and we take some time to go over all of this together? Like 2h or something? cc @TimHenkelmann

[2017-03-28 09:10] ShilpaGhanashyamGore commented on #25
@sacdallago I can come today as well  .I want to really get this done .
Friday is too late :-(

[2017-03-28 09:10] TimHenkelmann commented on #25
@sacdallago same here!

[2017-03-28 09:21] kordianbruck commented on #25
@ShilpaGhanashyamGore @TimHenkelmann 1.9.59 @ 15:30 please today. Thanks.

[2017-03-28 09:25] ShilpaGhanashyamGore commented on #25
Great ! Thank you .See you at 15.30.

[2017-03-28 09:38] TimHenkelmann commented on #25
See you later!

[2017-03-28 09:54] sacdallago commented on #18
This can be closed, I think. There's no direct access to PG anyway.
But yes: the scripts need to be written

[2017-03-28 14:31] TimHenkelmann commented on #41
Done with PR #47

[2017-03-28 14:31] #41 closed

[2017-03-28 14:32] ShilpaGhanashyamGore commented on #42
Automatic Docker Image creation is in place already .
Closing this issue

[2017-03-28 14:36] ShilpaGhanashyamGore opened #48 "Connect API docker container to PostGreDB"
For now , we connect API container with local PostgresDB .
Eventually we should be able to connect the docker API container running on web App service(in Azure) to  PostgreDb running on VM .

[2017-03-28 14:39] ShilpaGhanashyamGore opened #49 "Create the CLI to extract data and populate local DB"
Have an entry point script which takes in the source as input parameter , extracts data and populates Postgres DB(for now it shall be local db)

[2017-03-28 14:42] ShilpaGhanashyamGore opened #50 "Enable docker API container to expose the data in local db"
Run the docker server image and connect to localDB .

[2017-03-28 15:46] ShilpaGhanashyamGore commented on #48
@krishenk , @kordianbruck  , @sacdallago  : right now we have docker-compose which forces docker api image to communicate with docker image of postgredb .But from what I understood in our discussion that is not our goal right now.
I think docker-compose should be added at a later stage and be removed for now .
Please comment .

[2017-03-29 07:53] sacdallago commented on #48
You can remove everything docker-related from this repo for now. The stuff that you produce here is going to be exported as an npm script ;)

[2017-03-29 09:25] ShilpaGhanashyamGore commented on #48
@sacdallago : I am sorry , I am talking of MusicConnectionMachine/API repository .I should have raised the question there .
Anyway my question is : we don't need docker-compose.yml in MusicConnectionMachine/API   .Reason being that we are not going to have our postgres database as docker image (atleast for near future) .Hence docker compose is not required .
Please confirm here so that @krishenk c

[2017-03-29 09:31] kordianbruck commented on #50
So this is about writing the API Endpoints right?

[2017-03-29 21:15] ShilpaGhanashyamGore commented on #50
No , this is about running the docker server image and connecting to localDB .
My first comment is misplaced .

[2017-03-29 21:31] kordianbruck commented on #50
@ShilpaGhanashyamGore maybe you can fix your first comment then by editing it?

[2017-03-30 17:44] LukasNavickas opened #54 "Edit scraping scripts to comply with our DB structure"
Edit our scraping scripts so they comply with Sequelize/our DB) format and structure.

- put process.send("done") at the end
- we will have one folder with all input/output files. E.g. "./scrapedoutput/artists/dbpedia_test.json"
- all scripts should work fine on their own, produce results and create a .json file so any other script could read it.

I take MusicBrainz

[2017-03-30 22:08] TimHenkelmann commented on #54
done for dbpedia_Classical_musicians_by_instruments, dbpedia_Classical_musicians_by_instruments_and_nationality and dbpedia_Classical_musicians_by_nationality in #56

[2017-03-31 07:27] sacdallago commented on #48
@ShilpaGhanashyamGore well, no. I would still leave it. It gives other developers an understanding of your system dependencies.

[2017-03-31 07:28] sacdallago commented on #48
P.S.: closing the issue here, at this is the wrong repo and otherwise it generates confusion

[2017-03-31 07:28] #48 closed

[2017-03-31 19:23] metavaults commented on #54
done for musicbrainz. Scripts should be loaded in this order:

1) scrapeIDArtists/server.js - will get IDs of all artists composers from the specified era
2) scrapeArtists/server.js - scrapes artists and information about them using the IDs from step 1
3) scrapeReleases/server.js - scrapes releases using the artists' IDs from step 1
4) scrapeWorks/server.js - scrapes works using the artists' IDs f

[2017-04-02 23:30] kordianbruck commented on #49
Ideally you would use the same parameters as Group 2: https://github.com/MusicConnectionMachine/UnstructuredData/issues/106

[2017-04-03 18:28] TimHenkelmann commented on #18
Closing this issue as this will be handled in the cli

[2017-04-03 18:28] #18 closed

[2017-04-03 18:30] TimHenkelmann commented on #8
closing this issue as this is done in the api project

[2017-04-03 18:30] #8 closed

[2017-04-03 22:55] nbasargin commented on #49
@kordianbruck the `-d` and `-t` parameters could be same, but `-b` is only needed for group 2

@ShilpaGhanashyamGore  tested your `cli.js` on a local DB today, works good 👍
one minor thing are missing error checks (see gitter). I wanted to push a small improvement but don't have write permissions here T_T

[2017-04-03 22:56] nbasargin commented on #49
@ShilpaGhanashyamGore one more thing:
`api/api/dsap/artists.js -> findAllArtists()`: one of the attributes (`picture`) does not exist as a column in the DB. At least when the DB is populated by `StructuredData/cli.js`.

[2017-04-04 05:34] ShilpaGhanashyamGore commented on #49
@nyxathid  : yes , picture is not a part of the data we populate in our database. My pull request https://github.com/MusicConnectionMachine/api/pull/76 has the final schema .
I will submit it by EOD .Some travis related failures is to be fixed

[2017-04-04 08:55] nbasargin commented on #25
What is the current state of the DB right now? Is it already running somewhere?

[2017-04-04 09:15] nyxathid opened #63 "Data for group 2"
To start some serious testing group 2 needs relevant terms to search for. So far we have been using some dummy terms. Could you provide us some real data?

Ideally, that should be a running database. I now that it could take some time, so a simple file with 100+ composers, 100+ pieces and a few other terms would be extremely helpful before the DB is running.

[2017-04-04 09:27] vviro commented on #63
This is extremely important, please provide the data as quickly as possible. Any format would do: a plain text file is just fine, the main thing is this happens asap. If you have more than 100 entries, go ahead and export as much as possible. It should be possible to close this issue already today, right?

[2017-04-04 14:21] sacdallago commented on #25
@nyxathid you should have a test version deployed somewhere on Azure

[2017-04-04 15:04] kordianbruck commented on #40
Also #63

[2017-04-04 17:31] metavaults commented on #63
@nyxathid, a few weeks ago we already provided you with the .json files that contain works, releases, and composers. We have shared them with you today on gitter again.

[2017-04-04 17:34] metavaults commented on #35
duplicates were removed, data seems clear!

[2017-04-04 17:34] #35 closed

[2017-04-04 17:44] pfent commented on #63
Also dropping [this](https://github.com/MusicConnectionMachine/StructuredData/files/893982/Team2.zip) here, since in my experience files in chats are lost quickly…

@MusicConnectionMachine/group-1, do you mind providing some textual documentation, in what those json files contain?

[2017-04-04 17:47] pfent commented on #35
@LukasNavickas is there any code / documentation, what you used? Did you verify the results?

[2017-04-04 18:02] angelinrashmi2000 commented on #40
This the sample data which has artist, release and works.
[Team5:6 2.zip](https://github.com/MusicConnectionMachine/StructuredData/files/894048/Team5.6.2.zip)

[2017-04-04 18:03] #40 closed

[2017-04-04 18:05] TimHenkelmann commented on #49
Hey @nyxathid, our cli.js still needs some work. Those are the issues we will solve next

- [x] adjust the input parameters
- [x] fix musicbrainz script
- [x] when populating the db, first create an entry in the entities table, then an entry in the artists/works/releases/instruments table and insert the previously created entity id there as foreign key
- [x] adjust step 3 (populating db) to create

[2017-04-04 18:06] ShilpaGhanashyamGore commented on #43
@kordianbruck
What is done :
1.CLI app to local database connection is working , we are able to populate the database
2.Server hosted locally is able to connect to database and return the result for GET request
3. Server can take command line arguments which shall override default values to connect to local database

[2017-04-04 19:33] TimHenkelmann commented on #49
@kordianbruck @sacdallago regarding the spawning of worker threads, this does not really benefit our scraping because CPU isn't going to be our limiting factor but the throttling of the webpages.
So mutliple threads would only help for populating the database right?
Also, our cli is going to get executed on a separate VM, so we can/should always make use of all CPU's available I guess?

[2017-04-04 22:50] TimHenkelmann commented on #63
@pfent Well, the ReleasesAPI.json, Works.json and Artists.json files contain the releases, works and artists scraped from musicbrainz and the other .json files in Artists contain composers and musicians from dbpedia ^^
Or what exactly do you have in mind when you refer to a "textual documentation"?

[2017-04-05 00:03] kordianbruck commented on #40
@MusicConnectionMachine/group-5 @MusicConnectionMachine/group-6

[2017-04-05 00:04] kordianbruck commented on #43
Alrighty - lets close this for now then. Please create new issues for the still open things.

Thanks for the update! :dancer:

[2017-04-05 00:04] #43 closed

[2017-04-05 00:09] kordianbruck opened #64 "Website throttling / Scraping speed"
Please supply what your findings are in terms of which services throttles scraping in which way?

Maybe we can contact the vendors and ask the to give us more speed or use multiple IPs to fetch data.

e.g.:
* Google: 1 request from 1 IP every 5 seconds

[2017-04-05 00:10] kordianbruck commented on #49
@TimHenkelmann yes, there will be a limiting factor by how fast the websites allow you to access them. But you can surely run all four scrapes to each of the databases in parallel on a thread/core each. => https://github.com/MusicConnectionMachine/StructuredData/issues/64

[2017-04-05 21:34] TimHenkelmann commented on #64
For Musicbrainz, it's [1 request per second](https://musicbrainz.org/doc/XML_Web_Service/Rate_Limiting). Also, "if your requests are coming in at 4 requests per second, we don't honour 25% of them and decline the other 75% - we decline 100% of them, until the rate drops to 1 per second or lower."

Regarding worldcat and dbpedia, I haven't found any official statement yet but I'll keep on looking!

[2017-04-05 21:38] TimHenkelmann commented on #49
@kordianbruck Yep, just implemented that in #67 .
Threading for populating the db still needs to be done once we implemented this correctly (with entities, relatinos, etc.)

[2017-04-06 15:35] pfent commented on #25
Today, we finally gave some people access to the database…
The database is running on 13.74.11.216, listening only on localhost. So you need to tunnel everything through ssh!
@nyxathid should already have access;
@ShilpaGhanashyamGore and @TimHenkelmann: I just added your ssh public key from github to the machine (handy dandy: https://github.com/TimHenkelmann.keys 🎉 ). You should now be able to SS

[2017-04-06 17:00] TimHenkelmann commented on #25
@pfent Yep, I can connect to the machine 13.74.11.216. Is the other IP above a typo?  (xx.47.xx.xxx => xx.74.xx.xxx)
And I'm not sure if I got your last point... do you mean that we should update the credentials in our config file such that they match the one in the postgres credentials file?

[2017-04-06 17:58] ShilpaGhanashyamGore commented on #25
@pfent , @kordianbruck  : Please add this key .Thank you

[publicKey_JS.zip](https://github.com/MusicConnectionMachine/StructuredData/files/903530/publicKey_JS.zip)

[2017-04-07 07:25] pfent commented on #25
@ShilpaGhanashyamGore that's the same key as [on github](https://github.com/ShilpaGhanashyamGore.keys), isn't it?

I already added it yesterday, so you already should have access

@TimHenkelmann Pssssst :zipper_mouth_face:. Sneakily edited it :)

[2017-04-07 08:52] TimHenkelmann commented on #49
Implemented point 3 ("entry in entitites table first") in #69

[2017-04-07 19:16] pfent commented on #25
@MusicConnectionMachine/group-1 The server should be up and running now?
What's your status on this? We kinda really need some data in the DB, so the relationships group can start spinning up their processing clusters…

I'd suggest we can close this Issue and you start working on #49 and get some data into the database for #63

[2017-04-09 13:09] nbasargin commented on #25
Yes, some real data in DB on Azure would be great! :heart_eyes:

[2017-04-10 10:48] TimHenkelmann opened #70 "Implement IP rotation for musicbrainz scripts"
While IP rotation can help us for all scrape scripts, this is especially needed for the musicbrainz scripts. GetArtists, GetWorks and GetReleases are getting executed in parallel and musicbrainz will return an error as soon as [more than one request per second](https://musicbrainz.org/doc/XML_Web_Service/Rate_Limiting) is sent.

[2017-04-10 13:26] TimHenkelmann opened #71 "How to handle invalid dates"
From time to time, we only get partial dates like "1632" or "1742-03". When we try to populate the database with those entries, this results in an error:  "invalid input syntax for type date".
This is currently solved by just adding "-01-01" or "-01" to the date. Let's check if there exists a better way

[2017-04-10 13:42] TimHenkelmann commented on #49
Implemented point 2 ("fix musicbrainz scripts") in #60 and #72

[2017-04-10 14:18] TimHenkelmann commented on #25
@pfent Well, I'm still working on connecting the different entities when we populate the db (ArtistComposedWork, ArtistPlayedInstrument, etc...)
But we could already execute the cli as it is at the moment, then we would already have all the artists, work and releases as well as entities and the connection between entities/artists, entities/works, entities/releases.
How are we going to populate it

[2017-04-10 14:46] pfent commented on #25
@TimHenkelmann The server is already exposing postgres publicly (that's why we changed the user/password), i.e. you should be able to connect directly to postgres without any SSH tunneling.

However, there's currently trouble with the Azure subscription and the VM is down. If I read Gitter correctly, the relationship guys burned through all of the associated money 💤

[2017-04-10 15:02] pfent commented on #71
Storing this as a date type is definitely the way to go. Personally, I wouldn't want to loose information in this progress, so you might want to add something like a date precision field `Y`/`M`/`D`

[2017-04-10 23:23] TimHenkelmann opened #74 "Add worldcat output to db population in cli.js"
Add worldcat output to db population in cli.js

[2017-04-10 23:26] TimHenkelmann opened #75 "Fix multiple instruments with same name"
Currently, multiple instruments with the same name get generated even though this should be handled correctly in the connectArtistToInstruments function...

[2017-04-10 23:29] TimHenkelmann commented on #49
Implemented point 3 ("adjust population step") in #73 .

[2017-04-11 09:13] Sandr0x00 commented on #49
How is the status on that?
Can I already populate things into the db with `node cli.js -s dbpedia`?
As I see it only creates JSON files, and takes forever on my local machine...
Do you have a DB-Dump, I can import in my local DB? (just like @vviro asked in your channel)

[2017-04-11 18:18] TimHenkelmann commented on #49
@Sandr00 Yes, as soon as @ShilpaGhanashyamGore , @angelinrashmi2000 or @LukasNavickas reviewed, approved and merged #73 , you can use it to populate the db.
At the moment, the cli does not take multiple websites as input, this still needs to be fixed. So you would need to execute dbpedia and musicbrainz separately. Worldcat script still needs to be added as in #74
Yes, the scraping takes quite som

[2017-04-11 18:20] TimHenkelmann opened #76 "Enable multiple scripts for cli.js"
At the moment, the cli only takes one script as input parameter.
Adjust it, such that
[code]
or
[code]
is possible.

[2017-04-11 20:46] metavaults commented on #54
Done with all sources

[2017-04-11 20:46] #54 closed

[2017-04-11 20:58] TimHenkelmann commented on #49
@Sandr00 Just letting you know that I'm currently running the scraping, so the population should hopefully be finished by tomorrow morning...
Btw, as soon as #78 is merged, the input parameters for the cli change and one can scrape multiple webpages by executing i.e.
[code]

[2017-04-11 21:00] TimHenkelmann commented on #76
Implemented in #78
The input parameters changed such that one can now execute the scripts like
[code]
(scrapes dbpedia and worldcat)
or
[code]
(scrapes dbpedia, musicbrainz [and worldcat+allmusic as soon as they are added])

[2017-04-11 21:12] Sandr0x00 commented on #49
Thanks for the update 👍
Sounds good.

[2017-04-12 08:25] #76 closed

[2017-04-13 22:57] kordianbruck commented on #25
Finished up. Got several Servers running.

[2017-04-13 22:57] #25 closed

[2017-04-13 22:58] kordianbruck commented on #49
So this is done?

Closing.

[2017-04-13 22:58] #49 closed

[2017-04-13 22:58] kordianbruck commented on #76
Good thinking @TimHenkelmann - excellent implementation. Makes much more sense this way.

[2017-04-13 22:59] kordianbruck commented on #54
Great! Thanks Lukas

[2017-04-13 22:59] kordianbruck commented on #63
Real data is up and running in the postgre to be used by group 2 - closing.

[2017-04-13 22:59] #63 closed

[2017-04-13 23:01] kordianbruck commented on #50
Guess this is finished @ShilpaGhanashyamGore as we have the final DB already up and running

Closing.

[2017-04-13 23:01] #50 closed

[2017-04-13 23:02] kordianbruck commented on #71
I mean it would be great to know that the date is not complete by having 1742-00-00 or something. If that does not work, sure, do -01-01 for now.

[2017-04-13 23:03] kordianbruck commented on #64
I guess this is obsolete now, as we were able to scrape everything? @TimHenkelmann
Whats the experience?

[2017-04-13 23:04] kordianbruck commented on #70
Is this really needed? I'm not sure how to implement this without proxys or something. If we can scrape the data once, its fine - we don't need to do it on a daily basis.

[2017-04-17 12:16] sacdallago commented on #74
Is this done? 🤔

[2017-04-17 12:16] sacdallago commented on #75
Any updates for this?

[2017-04-17 17:21] kordianbruck opened #79 "Data Maintance"
Hey guys,

one thing that might still be open: can the scraping script be run multiple times without inserting doubles?

We want to maintain the data in the coming 2-3 years at least. So that running the CLI multiple times should ensure that it checks if the rows are already in the database and update the entity accordingly.

Thanks

[2017-04-17 17:21] kordianbruck commented on #70
Not needed for now.

[2017-04-17 17:21] #70 closed

[2017-04-17 17:22] kordianbruck commented on #64
Not of interest any longer I think.

[2017-04-17 17:22] #64 closed

[2017-04-17 17:23] kordianbruck commented on #74
I think it is: https://github.com/MusicConnectionMachine/StructuredData/blob/develop/cli.js#L52

[2017-04-17 17:30] kordianbruck opened #80 "Update README"
Add a list of parameters to README so everyone that wants can actually use it.

Thanks

[2017-04-17 17:31] TimHenkelmann commented on #74
Not yet done! The worldcat script is added but the output isn't populated to the db at the moment

[2017-04-17 17:34] TimHenkelmann commented on #70
Okay, then the structure from the musicbrainz scrape execution needs to change. I will create a separate issue for that

[2017-04-17 17:37] TimHenkelmann opened #81 "Rework musicbrainz scrape execution order"
Since implementing IP-rotation with proxys is kind of an overkill, we should restructure the scrape order of artists, works and releases.
Currently, they are all scraped at the same time, each with 3 seconds delay per request. In about 10%-20% of the cases, this leads to blocked requests because musicbrainz only allows 1 request per second.

[2017-04-17 17:38] TimHenkelmann commented on #64
Yep, obsolete!

[2017-04-17 17:38] kordianbruck commented on #70
Why does the script need to change? Its working already - no?

[2017-04-17 17:39] pfent opened #82 "Alias merging"
What's the status on merging different aliases for entities? (e.g. "Mozart", "Wolfgang Amadeus Mozart", "Joannes Chrysostomus Wolfgangus Theophilus Mozart")

Do we have any logic in place for this? What's the strategy here?

[2017-04-17 17:40] kordianbruck commented on #81
Ah, I see. Ok yes, you need to scrape these in sequence.

[2017-04-17 17:40] TimHenkelmann commented on #70
It works for ~80-90% of the data, see #81

[2017-04-17 17:40] pfent opened #83 "Updating the data"
Is there a plan on updating the data?

What happens at the moment, when one runs your script twice?

[2017-04-17 17:42] kordianbruck commented on #83
Dupe: https://github.com/MusicConnectionMachine/StructuredData/issues/79

[2017-04-17 17:42] #83 closed

[2017-04-17 17:46] TimHenkelmann commented on #81
Implemented in #84

[2017-04-17 17:49] TimHenkelmann commented on #75
Nope, no news

[2017-04-17 17:54] sacdallago commented on #75
:D can you (or anyone here) make news happen @TimHenkelmann ? :) :) ❤️ ❤️

[2017-04-17 17:56] kordianbruck commented on #75
Yes, please make @sacdallago happy <3 :dancer: :man_dancing:

[2017-04-17 18:00] ShilpaGhanashyamGore commented on #81
Closing the issue

[2017-04-17 18:00] #81 closed

[2017-04-17 20:13] TimHenkelmann opened #85 "Fix pseudonyms"
As LukasS96 mentioned, our data currently does not contain any pseudonyms. Check, what's the reason

[2017-04-18 07:44] sacdallago commented on #85
@LukasS96

[2017-04-18 07:53] sacdallago commented on #82
What about reading in a dictionary of synonyms? This should be pretty straightforward and we can curate the list later?

So, maybe: accept an optional `-s ` defining the location of a csv/tsv file of synonyms separated by new line, something like:
[code]

in real data
[code]

it technically counts as feature, but it's a nice improvement for the data so I would rebrand it as bug-fix? 💃

[2017-04-18 07:56] sacdallago commented on #79
http://docs.sequelizejs.com/en/latest/api/model/#upsertvalues-options-promisecreated might be a place to start, substituting _inserts_, but only if you have a logic in place to match two documents. You might eventually need to create a distance between to objects dictated by the object's fields (or features) and define a threshold by which you consider two objects similar :) but, but. For now, I w

[2017-04-18 12:34] pfent commented on #82
We probably can't curate a list for *all* entities, but creating such a list manually *once* seems like an easy start

[2017-04-18 14:20] sacdallago commented on #82
The idea would then be to have the file crowdsourced, ideally opening a repo dedicated to it :D you know, leverage the power of github :P :P

[2017-04-18 21:19] goldbergtatyana commented on #82
This is a great idea! We, the mentors, could definitely provide a hand on creating the list manually. When can we start?

[2017-04-18 22:29] sacdallago commented on #82
@goldbergtatyana right now. https://github.com/MusicConnectionMachine/dictionaries/blob/master/artist_synonyms

you can edit directly in the browser, and then open a PR, which we can later merge :)

[2017-04-20 08:23] gyachdav commented on #82
We will need a more authoritative source thea manually curating the dictionary.

A list of pseudonyms, synonyms and canonical names is available from https://portal.dnb.de.

To obtain a list of synonyms for an artist we will need to:

1.  query the dnb.de portal with free text

2. get the dnd ID for the artist
3. use the ID to fetch the entry for the artist
4. parse the RDF formatted output file a

[2017-04-20 08:46] sacdallago commented on #82
For now, just implement a way to read in the dictionary as previously described, and @gyachdav 's suggested workflow will hopefully be implemented in some spare time at the hackathon and it will output on a file which conforms to the idea in the dictionary file (aka: preferred name, synonym1, synonym2,...)

[2017-04-20 09:57] felixschorer commented on #82
Aliases don't have to be merged into a single DB entry for our use case (@MusicConnectionMachine/group-2). It would suffice if all aliases had the same `entityId`.

[2017-04-20 10:00] felixschorer commented on #75
This doesn't impact @MusicConnectionMachine/group-2 as our filters are either hash based or eliminate duplicates when when inserting terms.

[2017-04-20 10:04] felixschorer commented on #85
I think what @LukasS96 meant by that is that for names like `Wolfgang Amadeus Mozart` there are no abbreviations and such in the database. The database should probably also contain something like `W. A. Mozart`, `Wolgang A. Mozart`, etc.

[2017-04-20 21:06] lukasstreit opened #86 "Fix data consistency"
### What does this guy want?
When working with your data I noticed several issues.
So far we (group 2) are mostly filtering out bad entries in your data but there's some stuff that seems like it could easily be fixed and save other groups from a lot of trouble.

### The problems
**1. Duplicate terms**
There are currently lots of duplicates in the db, in particular for instruments. This was already

[2017-04-24 20:45] TimHenkelmann commented on #86
Hi and sorry for the late reply, I was out of town. Just fixed all named issues in #88 .
Regarding point 2.: "tar" is an [instrument ](https://en.wikipedia.org/wiki/Tar_(string_instrument)), therefore I only filtered the "*" character for now.

[2017-04-24 20:46] TimHenkelmann commented on #75
fixed in #88

[2017-04-24 20:46] #75 closed

[2017-04-24 23:23] kordianbruck commented on #86
@TimHenkelmann so this is done then? How do we update the data to include those fixes?

[2017-04-25 17:47] TimHenkelmann commented on #86
Yep this is done! But I'm not sure how to update Group1s data without interfering with the data that the other teams added...

[2017-04-25 21:37] kordianbruck commented on #86
@sacdallago ideas?

[2017-04-25 21:45] sacdallago commented on #86
@kordianbruck not really. There's no mechanism for upserting stuff as of now, so this is 💩 . BUT, AFAIK the prod db has not been populated with unstructured data nor relationships data, right @MusicConnectionMachine/group-2 , @MusicConnectionMachine/group-3 and @MusicConnectionMachine/group-4 ? Please give an answer soon, so we can think of repopulating. In which case:

- dump the db (`mcmprod` **

[2017-04-28 17:25] TimHenkelmann commented on #86
sooo... what are the next steps on this one?

[2017-05-02 11:26] kordianbruck commented on #86
So maybe we will just make a new mcmprod called mcmproduction and rescrape it into there. We have to import the new data from G2 anyways, so might as well do this step again? @gyachdav @pfent

[2017-05-02 11:29] kordianbruck commented on #74
@TimHenkelmann is this still feasable to do, before we rerun the scraping?

[2017-05-02 11:30] kordianbruck commented on #85
So, any other ideas on this @TimHenkelmann

[2017-05-02 11:30] kordianbruck commented on #71
@TimHenkelmann can you still do this please?

[2017-05-02 11:33] kordianbruck commented on #80
@TimHenkelmann any possibility of doing this?

[2017-05-02 14:32] gyachdav commented on #86
Not sure I understand what needs to be decided here. G2 already processed the data based on the list provided by G1. We're not going to re run G2 pipeline again. So what are we doing here?

Sent from my iPhone

[2017-05-02 17:17] felixschorer commented on #86
Our data links to the entities in the `mcmprod` DB via a foreign key... so... @kordianbruck

[2017-05-02 22:39] kordianbruck commented on #86
Ok, then just leave it at that. In case we need to rerun the scraping, the modifications will be in.
No need to mess around with this now at this point.

[2017-05-02 22:39] #86 closed

[2017-05-03 19:05] TimHenkelmann commented on #74
Currently at it, should be done by tonight/tomorrow morning(04.05)

[2017-05-03 19:06] TimHenkelmann commented on #71
it is currently implemented that we just take 01-01 if we do not have more information. Taking 00-00 is not accepted by the db. And regarding the date precision field I unfortunately do not have the time to dig deeper into that at the moment.

[2017-05-04 16:02] kordianbruck commented on #71
Cool, then we can close this.

[2017-05-04 16:02] #71 closed

[2017-05-04 16:20] TimHenkelmann commented on #74
Implemented in #90, waiting for the PR to be merged.

[2017-05-04 19:32] TimHenkelmann commented on #74
Closed as fixed!

[2017-05-04 19:32] #74 closed